.contacts-page-block {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 3vh;
}

.contacts__img {
    margin: 0 0.4vh;
    width: 6vh;
    cursor: pointer;
}

.link-description {
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0);
    color: #fff;
    text-align: center;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    transition: visibility 0s, opacity 0.5s linear;
}

.link-contacts {
    position: relative;
    display: inline-block;
    margin-top: 20vh;
}

.link-contacts:hover .link-description {
    visibility: visible;
}

.follow-text {
    margin: 15vh 0 7vh;
    width: 25vw;
    font-size: 28px;
    font-weight: 200;
    text-align: center;
}

.full-logo-img {
    width: 12vh;
    margin-top: 10vh;
    margin-bottom: 12vh;
    cursor: pointer;
}


@media (max-width: 1400px) {
    .follow-text {
        width: 35vw;
        font-size: 28px;
    }
}

@media (max-width: 820px) {
    .follow-text {
        width: 45vw;
        font-size: 28px;
    }
}

@media (max-width: 768px) {
    .follow-text {
        font-size: 24px;
    }
}

@media (max-width: 480px) {
    .follow-text {
        width: 55vw;
        font-size: 18px;
    }

    .full-logo-img {
        width: 8vh;
    }

    .contacts__img {
        margin: 0 0.3vh;
        width: 5vh;
    }
}

@media (max-width: 375px) {
    .follow-text {
        font-size: 14px;
    }
}
