.general-page-container {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
}

hr {
    background-color: #fff;
    height: 0.3px;
    border: none;
    margin: 0 5vh;
}


@media (min-width: 1400px) {
    hr {
        display: none;
    }
}