@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --main-color: #fff;
}

body {
    margin: 0;
    padding: 0;

    font-family: "Montserrat", sans-serif;
    line-height: 1.5;
    letter-spacing: 0.5px;

    color: var(--main-color);

    /* background: url("./../img/bg-img.png") center/100% auto no-repeat fixed; */
    background-color: #155a29;
}

html {
    scroll-behavior: smooth;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.container {
    width: 100%;
    max-width: 1600px;
    height: auto;
    /* padding: 0 30px; */
    margin: 0 auto;
}

.arrow__link {
    color: var(--main-color);
    text-decoration: none;

    transition: opacity 0.1s linear;
    opacity: 1;
}


@media (max-width: 1400px) {
    .arrow__link {
        display: none;
    }
}