.video-block {
    padding: 4vh 0;
}

.video__item {
    margin: 0 0 2vh;
    box-shadow: 0 10px 42px 0 rgba(0, 0, 0, 0.37);
    width: 900px;
    height: 480px;
}

.swiper-button-next {
    animation: arrowSliderNext 2s infinite;
    margin-right: 20vh;
}

.swiper-button-next:after {
    color: #fff;
}

.swiper-button-prev {
    animation: arrowSliderPrev 2s infinite;
    margin-left: 20vh;
}

.swiper-button-prev:after {
    color: #fff;
}

@keyframes arrowSliderNext {
    0% {
        right: 3vh;
    }

    50% {
        right: 1.5vh;
    }

    100% {
        right: 3vh;
    }
}

@keyframes arrowSliderPrev {
    0% {
        left: 3vh;
    }

    50% {
        left: 1.5vh;
    }

    100% {
        left: 3vh;
    }
}


@media (max-width: 1200px) {
    .video__item {
        width: 900px;
        height: 480px;
    }
}

@media (max-width: 1024px) {
    .video__item {
        width: 800px;
        height: 430px;
    }
}

@media (max-width: 820px) {
    .video__item {
        width: 650px;
        height: 350px;
    }
}

@media (max-width: 768px) {
    .video__item {
        width: 600px;
        height: 310px;
    }
}

@media (max-width: 480px) {
    .video__item {
        width: 350px;
        height: 190px;
    }
}

@media (max-width: 375px) {
    .video__item {
        width: 290px;
        height: 160px;
    }
}