.main-container {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;

    margin: 33vh;

    position: relative;
    z-index: 1;
}

.title-welcome {
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px;

    color: #fff;
}

.title-name {
    margin-top: 7vh;
    font-size: 4.5rem;
    font-weight: 600;
}

.title-tagline {
    margin-top: -1vh;
    font-size: 1.5rem;
    font-weight: 300;
}
