@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translate(0%, 0%) scale(1.5);
    }
    100% {
        opacity: 1;
        transform: translate(0%, 0%) scale(1);
    }
}

.wrapper__intro {
    width: 100%;
    max-width: 80vw;
    margin: 0 auto;
    height: 85vh;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.intro-block {
    opacity: 0;
    animation: fadeIn 2s forwards; 
    margin: 0 0 30vh;
}

.intro__suptitle {
    font-size: calc(8px + 6 * (100vw / 1200));
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;

    margin-top: 30vh;
}

.intro__title {
    margin: 7vh 0 1vh;
    font-size: calc(18px + 40 * (100vw / 1200));
    font-weight: 600;
    text-align: center;
}

.intro__subtitle {
    font-size: calc(8px + 10 * (100vw / 1200));
    font-weight: 200;
    letter-spacing: 1px;
    text-align: center;
}
