.header {
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3vh 0;
}

.nav-list {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-evenly;

    list-style: none;
    padding: 0;
}

.nav__item {
    margin: 0 2vh;
    font-size: calc(10px + 6 * (100vw / 1200));
    font-weight: 100;
    width: 9vw;
    text-align: center;
}

.nav__link {
    color: var(--main-color);
    text-decoration: none;

    transition: opacity 0.1s linear;
    opacity: 1;
}

.nav__link:hover {
    color: var(--main-color);
    text-decoration: underline 0.5px;
    text-underline-offset: 1vh;
    cursor: pointer;

    transition: opacity 0.1s linear;
    opacity: 1;
}
