.header-container {
    // position: fixed;
    // top: 0;
    width: 100%;
    z-index: 5;
}

.nav-block {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2vh;

    position: relative;
    z-index: 3;
}

.nav-block__item {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
    padding: 0;
}

.nav__item {
    margin: 0 2vh;
    font-size: 1.1rem;
    width: 16vh;
    text-align: center;
}

.link-style {
    color: #fff;
    text-decoration: none;
}

.link-style:hover {
    text-decoration: underline;
    cursor: pointer;
}