.sunday-meeting-background {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1)), rgba(255, 255, 255, 0);
    backdrop-filter: blur(20px);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: 32px;
    
    z-index: 6;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    margin: 3vh;
}

.sunday-meeting-container {
    // padding: 5vh;
    // height: 50vh;
    width: 50vw;

    font-size: 1.2rem;
}

.block-title-and-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: justify;
}

.sm-title {
    font-weight: 400;
    // line-height: 1.5;c
}

.sm-description {
    font-weight: 300;
    line-height: 1.5;
    max-width: 45vw;
}

.block-adress {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.adress-title {
    font-weight: 400;
    margin-top: 5vh;
}

.adress__item {
    font-weight: 300;
    line-height: 1.5;
}

.close-btn {
    margin-top: 3vh;
    font-size: 1.3rem;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;

    padding: 1.5vh 2.5vh;
    border-radius: 10px;

    cursor: pointer;
}