@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    color: #fff;

    background: url("./img/bg-img.png") center/100% auto no-repeat fixed;
}

code {
    /* font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace; */
}
